<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.sushnag22.attendancemanager">


    <application
        android:name=".context.AppContext"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceManager"
        tools:targetApi="31">
        <activity
            android:name=".views.ViewTotalAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".views.ViewStudentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".views.ViewStudentByBranchSemActivity"
            android:exported="false" />
        <activity
            android:name=".views.ViewFacultyDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".views.ViewFacultyActivity"
            android:exported="false" />
        <activity
            android:name=".views.ViewAttendancePerStudentActivity"
            android:exported="false" />
        <activity
            android:name=".views.SearchStudentActivity"
            android:exported="false" />
        <activity
            android:name=".views.AddFacultyActivity"
            android:exported="false" />
        <activity
            android:name=".views.AddStudentActivity"
            android:exported="false" />
        <activity
            android:name=".views.AddAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".views.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.AddAttendanceSessionActivity"
            android:exported="false" />
        <activity
            android:name=".views.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>